body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  height: 100vh; }

.text-center {
  text-align: center; }

input {
  border: 1px solid #ccc;
  padding: 10px; }

button {
  background: #000;
  color: #fff;
  padding: 10px;
  border: 1px solid #000; }

.div-c-m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .div-c-m.todo-list-container {
    align-items: start;
    height: auto; }
    .div-c-m.todo-list-container.list-view div {
      width: calc(50% - 30px);
      margin: 15px;
      border: 1px solid #ccc; }

.todo-added-list ul {
  margin: 0px;
  padding: 0px; }
  .todo-added-list ul li {
    list-style-type: none;
    border-top: 1px solid #ccc;
    padding: 5px 0; }
    .todo-added-list ul li .add-list {
      width: calc(100% - 180px);
      display: inline-block; }
    .todo-added-list ul li button {
      padding: 5px 10px;
      margin: 0 5px;
      cursor: pointer; }
    .todo-added-list ul li .disable {
      pointer-events: none;
      cursor: default;
      border: 1px solid transparent; }
