body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  height: 100vh; }

.text-center {
  text-align: center; }

.div-c-m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
